*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right top, #051937, #133a62, #1b5f8f, #1c88bd, #12b3eb);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body #logo {
    margin-bottom: 2rem;
    
}
body #logo > img{
    width: 100%;
}

body #change-artwork {
    display: flex;
    gap: .7rem;
    max-width: 400px;
    width: 100%;

    #btn-default,
    #btn-shiny {
        text-align: center;
        padding: 1rem .7rem;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
    }

    #btn-default {
        border: 2px #1c88bd solid;

    }

    #btn-shiny {
        border: 2px #2f55a8 solid;


    }

    & #btn-default:hover {
        background-color: #1c88bd;

    }

    & #btn-shiny:hover {
        background-color: #2f55a8;
    }
}

body #container {
    position: relative;
    background-color: #ffffff41;
    width: 100%;
    max-width: 25rem;
    min-height: 25rem;
    max-height: 25rem;
    border-radius: 20px;
    box-shadow: 6px 5px 6px #0000007e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding: 40px;
    margin: 2rem 0;

    #imageWrapper {
        width:100%;
        z-index: 10;

        & img {
            width: 100%;
        }

    }

    #header {
        display: flex;
        flex-direction: row;
        font-size: clamp(1.2rem, 2.5vw, 2rem);

        #abilities {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: clamp(1.2rem, 1vw, 2rem);
        }

        #infos {
            display: flex;
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #name {
            text-transform: capitalize;
            margin-left: 1rem;
        }

    }
}

body #btn {
    border: 2px solid #2f55a8;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    padding: 1rem .7rem;
    color: #fff;
    text-align: center;
    transition: transform 600ms ease;

    &:hover {
        background-color: #2f55a8;
        transform: translateY(-3px);
    }
}





.translate {
    transform: translate(10%, -50%);
    transition: .8s ease;

}


.dispNone {
    display: none;

}

@media  (max-width: 300px){
body #change-artwork {
    flex-direction: column;
}
}